/.idea/
/composer.lock

/var/cache/
!var/cache/.gitkeep
/var/debug/
!var/debug/.gitkeep
/var/export/*.csv
/var/export/*.xml
/var/log/*.log

/vendor/

.env.local
.env.local.php
.env.*.local
.env
.env.test
coverage.xml
.phpunit.result.cache

.vscode